@page "/forgot"
@inject NavigationManager Nav

<link href="css/forgot.css" rel="stylesheet" />

<div class="login-bg">
    @* <button class="back-btn" @onclick='() => Nav.NavigateTo("/login")'>&lt;</button> *@

    <span class="back-icon left" @onclick='() => Nav.NavigateTo("/login")'>
        &#8592;
    </span>

    <div class="login-header">
        <img src="images/logo.svg" />
    </div>

    <div class="login-card">
        <h2>Forgot Password</h2>
        <p class="sub">No Worries! Please Enter Your Account Email.</p>
        
        <label>EMAIL OR USERNAME</label>

        <div class="input-box">
            <input type="email"
                placeholder="johnsondoe@nomail.com"
                @bind="Email" />

            @if (!string.IsNullOrEmpty(emailError))
            {
                <span class="error-icon">i</span>
            }
        </div>

        <button type="button" class="login-btn" @onclick="SendOtp">
            Send
        </button>
    </div>
</div>


@code {
    string Email = "";
    string emailError = "";

    void SendOtp()
    {
        emailError = "";

        // compulsory validation
        if (string.IsNullOrWhiteSpace(Email))
        {
            emailError = "Email is required";
            return;
        }

        if (!Email.Contains("@"))
        {
            emailError = "Enter a valid email address";
            return;
        }

        // success → go to OTP page
        Nav.NavigateTo("/otp");
    }
}