@page "/"
@page "/login"
@inject NavigationManager Nav
@inject HttpClient Http
@inject UserSession Session 

<link href="css/login.css" rel="stylesheet" />

<div class="login-bg">

    <span class="back-icon" @onclick='() => Nav.NavigateTo("/")'>
        &#8592;
    </span>

    <div class="login-header">
        <img src="images/logo.svg" />
    </div>

    <div class="login-card">

        <h2 class="login-title">Log In</h2>
        <p class="sub">Please Login To Your Account</p>

        <label>EMAIL OR USERNAME</label>
        <div class="input-box">
            <input type="email"
                   placeholder="johnsondoe@nomail.com"
                   @bind="Email" />

            @if (!string.IsNullOrEmpty(emailError))
            {
                <span class="error-icon">i</span>
            }
        </div>

        <label>PASSWORD</label>
        <div class="password-box">
            <input type="password"
                   placeholder="************"
                   @bind="Password" />

            @if (!string.IsNullOrEmpty(passwordError))
            {
                <span class="error-icon">i</span>
            }
        </div>

        <div class="recover" @onclick='() => Nav.NavigateTo("/forgot")'>
            Recover Password?
        </div>

        <button class="login-btn" @onclick="logintoHome">
            Log In
        </button>

    </div>
</div>

@code {
    string Email = "";
    string Password = "";

    string emailError = "";
    string passwordError = "";

    async Task logintoHome()
    {
        emailError = "";
        passwordError = "";

        if (string.IsNullOrWhiteSpace(Email))
            emailError = "error";

        if (string.IsNullOrWhiteSpace(Password) || Password.Length < 6)
            passwordError = "error";

        if (!string.IsNullOrEmpty(emailError) || !string.IsNullOrEmpty(passwordError))
            return;

        try
        {
            var request = new LoginRequest
            {
                emailOrMobile = Email,
                password = Password
            };

            var response = await Http.PostAsJsonAsync(
                "api/Dealer/Login",
                request);

            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadFromJsonAsync<LoginResponse>();

                if (result != null && result.isSuccess)
                {
                    Session.Token= result.data.token;
                    Session.DealerProfileId= result.data.dealerProfileId;
                    Session.UserName= result.data.userName;
                    Session.Email= result.data.email;
                    Console.WriteLine("DealerId from login: " + result.data.dealerProfileId);
                    Nav.NavigateTo("/dashboard");
                }
                else
                {
                    passwordError = "error";
                }
            }
            else
            {
                passwordError = "error";
            }
        }
        catch (Exception ex)
        {
            passwordError = "error";
            Console.WriteLine(ex.Message);
        }
    }
    public class LoginRequest
    {
        public string emailOrMobile { get; set; }
        public string password { get; set; }
    }

    public class LoginResponse
    {
        public bool isSuccess { get; set; }
        public LoginData data { get; set; }
        public string message { get; set; }
    }
    public class LoginData
    {
        public string token { get; set; }
        public string userName { get; set; }
        public string email { get; set; }
        public string id { get; set; }
        public string dealerProfileId { get; set; }
    } 
}