@page "/login"
@inject NavigationManager Nav

<link href="css/login.css" rel="stylesheet" />

<div class="login-bg">

    <span class="back-icon" @onclick='() => Nav.NavigateTo("/")'>
        &#8592;
    </span>

    <div class="login-header">
        <img src="images/logo.svg" />
    </div>

    <div class="login-card">

        <h2 class="login-title">Log In</h2>
        <p class="sub">Please Login To Your Account</p>

        <label>EMAIL OR USERNAME</label>
        <div class="input-box">
            <input type="email"
                   placeholder="johnsondoe@nomail.com"
                   @bind="Email" />

            @if (!string.IsNullOrEmpty(emailError))
            {
                <span class="error-icon">i</span>
            }
        </div>

        <label>PASSWORD</label>
        <div class="password-box">
            <input type="password"
                   placeholder="************"
                   @bind="Password" />

            @if (!string.IsNullOrEmpty(passwordError))
            {
                <span class="error-icon">i</span>
            }
        </div>

        <div class="recover" @onclick='() => Nav.NavigateTo("/forgot")'>
            Recover Password?
        </div>

        <button class="login-btn" @onclick="logintoHome">
            Log In
        </button>

    </div>
</div>

@code {
    string Email = "";
    string Password = "";

    string emailError = "";
    string passwordError = "";

    void logintoHome()
    {
        emailError = "";
        passwordError = "";

        if (string.IsNullOrWhiteSpace(Email) || !Email.Contains("@"))
            emailError = "error";

        if (string.IsNullOrWhiteSpace(Password) || Password.Length < 6)
            passwordError = "error";

        if (!string.IsNullOrEmpty(emailError) || !string.IsNullOrEmpty(passwordError))
            return;

        Nav.NavigateTo("/dashboard");
    }
}