.rd-bg {
  min-height: 100vh;
  background: #f6f7fb;
  padding: 12px;
}

/* HEADER */
.rd-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.rd-header h3 {
  font-size: 16px;
  font-weight: 600;
  margin:0;
}

.back {
  font-size: 22px;
  cursor: pointer;
  line-height:1;
}

/* LIST */
.rd-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* ITEM */
.rd-item {
  display:flex;
  align-items: center;
  background: #f3f4f6;
  border-radius: 14px;
  padding: 14px;
  display: flex;
  align-items: center;
  gap: 40px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.06);
}

.rd-item img {
  width: 28px;
  height: 28px;
}

.rd-item span {
  font-size: 14px;
  font-weight: 600;
  color: #222;
}