@page "/remaining-devices"
@inject NavigationManager Nav

<link href="css/remaining-devices.css" rel="stylesheet" />

<div class="rd-bg">

    <!-- HEADER -->
    <div class="rd-header">
        <span class="back" @onclick='() => Nav.NavigateTo("/dashboard")'>&larr;</span>
        <h3>Remaining MDM Devices</h3>
    </div>

    <!-- LIST -->
    <div class="rd-list">
        <div class="rd-item">
            <img src="images/icon-clock.svg" />
            <span>4PNUPAHGTRFS</span>
        </div>

        <div class="rd-item">
            <img src="images/icon-clock.svg" />
            <span>245RTDDW5854</span>
        </div>

        <div class="rd-item">
            <img src="images/icon-clock.svg" />
            <span>4755WQSDDADF</span>
        </div>

        <div class="rd-item">
            <img src="images/icon-clock.svg" />
            <span>4PNUPAHGTRFSX</span>
        </div>

        <div class="rd-item">
            <img src="images/icon-clock.svg" />
            <span>87WSDAKSDLASK</span>
        </div>

        <div class="rd-item">
            <img src="images/icon-clock.svg" />
            <span>4PNUPAHGTRSFS</span>
        </div>

        <div class="rd-item">
            <img src="images/icon-clock.svg" />
            <span>4PNUPAHGTRFS</span>
        </div>

        <div class="rd-item">
            <img src="images/icon-clock.svg" />
            <span>4PNUPAHGTRFS</span>
        </div>

        <div class="rd-item">
            <img src="images/icon-clock.svg" />
            <span>4PNUPAHGTRFS</span>
        </div>

        <div class="rd-item">
            <img src="images/icon-clock.svg" />
            <span>4PNUPAHGTRFS</span>
        </div>
    </div>
</div>