
.login-bg[b-be0ps3cbgb] {
    min-height: 100vh;
    background: linear-gradient(180deg, #020c2a 0%, #020b22 100%);
    display: flex;
    flex-direction: column;
    position: relative;
}

.back-btn[b-be0ps3cbgb] {
    position: absolute;
    top: 40px;
    left: 20px;
    background: transparent;
    border: none;
    color: white;
    font-size: 22px;
}

.login-header[b-be0ps3cbgb] {
    height: 230px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 60px;
}

.login-header img[b-be0ps3cbgb] {
    width: 287px;
    height: 96px;
}

.login-card[b-be0ps3cbgb] {
    background: #f5f6f8;
    flex: 1;
    padding: 32px 24px;
    border-top-left-radius: 50px;
}

.login-card h2[b-be0ps3cbgb] {
    margin-bottom: 6px;
}

.sub[b-be0ps3cbgb] {
    font-size: 14px;
    color: #666;
    margin-bottom: 24px;
}

label[b-be0ps3cbgb] {
    font-size: 12px;
    color: #666;
    display: block;
    margin-bottom: 6px;
}

input[b-be0ps3cbgb] {
    width: 100%;
    height: 48px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #eef0f4;
    margin-bottom: 18px;
}

.recover[b-be0ps3cbgb] {
    text-align: right;
    font-size: 13px;
    color: #0b1d4a;
    margin-bottom: 24px;
}

.login-btn[b-be0ps3cbgb] {
    width: 100%;
    height: 54px;
    border-radius: 12px;
    border: none;
    background: #0b1d4a;
    color: #fff;
    font-size: 16px;
}
.back-icon[b-be0ps3cbgb] {
  font-size: 24px;      /* arrow size */
  color: #fff;
  left:16px;
            /* white */
  cursor: pointer;
  display: inline-flex;
  position:absolute;
}

/* Login subtitle text */
.sub[b-be0ps3cbgb] {
  font-family: 'Inter', sans-serif;
  font-weight: 600;        /* Semi Bold */
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: capitalize; /* Title case */
 color: #555;   /*            */
   /* keep existing color */
}
/* email ans pass */
.login-card label[b-be0ps3cbgb] {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: capitalize;
  color: #555;  
}

/* validation error */
.error-text[b-be0ps3cbgb] {
  color: #d93025;
  font-size: 12px;
  margin: 4px 0 10px;
}
/* RED CIRCULAR INFO (i) ICON */
.error-icon[b-be0ps3cbgb] {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #e53935; /* 🔴 red */
  color: #ffffff;            /* white i */
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-70%);
}
.input-box[b-be0ps3cbgb],
.password-box[b-be0ps3cbgb] {
  position: relative;   /* 🔑 REQUIRED */
}