
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #cbd5e1;
  border-radius: 34px;
  transition: .3s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  top: 3px;
  background-color: white;
 border-radius: 50%;
  transition: .3s;
}

/* When Checked */
.switch input:checked + .slider {
  background-color: #071a3d;  /* deep blue */
}

.switch input:checked + .slider::before {
  transform: translateX(20px);
}

.command-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


.command-modal {
  width: 90%;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
}

.command-header {
  background: #071a3d;
  color: #fff;
  padding: 14px;
  display: flex;
  align-items:centre;
  justify-content: space-between;
  font-weight: 600;
}

.command-body {
  padding: 20px;
  text-align: center;
}

.command-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.yes-btn {
  background: #071a3d;
  color: #fff;
  border: none;
  padding: 10px 24px;
  border-radius: 10px;
}

.no-btn {
  background: #e5e7eb;
  border: none;
  padding: 10px 24px;
  border-radius: 10px;
}