.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #cbd5e1;
  border-radius: 34px;
  transition: .3s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  top: 3px;
  background-color: white;
 border-radius: 50%;
  transition: .3s;
}

.switch input:checked + .slider::before {
  transform: translateX(20px);
}
.command-overlay {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  z-index: 99999;
}

 @keyframes modalFade {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
} 
.command-header {
  background: #071a3d;
  color: #fff;
  padding: 14px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  font-weight: 600;
}

.command-actions {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.yes-btn {
  background: #071a3d;
  color: #fff;
  border: none;
  padding: 10px 28px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.yes-btn:hover {
  opacity: 0.9;
}

.no-btn {
  background: #e5e7eb;
  color: #2563eb;
  border: none;
  padding: 10px 28px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}
.no-btn:hover {
  background: #d1d5db;
}
.no-btn {
  background: #e5e7eb;
  border: none;
  padding: 10px 24px;
  border-radius: 10px;
}

.command-body {
  padding: 24px 20px;
  text-align: center;
}
.command-body p {
  font-size: 16px;
  font-weight: 500;
  color: #1f2937;
}
.blur-cative{
  filter:blur(4px);
  pointer-events:none;
}
.command-modal {
  width: 92%;
  max-width: 480px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
  position: relative;
  z-index: 100000;
  animation: modalFade 0.2s ease-out;
}
body.modal-open {
  overflow: hidden;
}
body.modal-open {
  overflow: hidden;
}